@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.tiktok-font {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.modal {
  position: relative;
  width: 80vw;
  max-width: 800px;
  padding: 25px;
}

.overlay {
  @apply inset-0 bg-black opacity-50 flex backdrop:blur-md justify-center items-center;
}

.modal-container {
  @apply h-full w-full  z-50 left-0 top-0 overflow-y-auto flex items-center justify-center min-h-screen;
}

.fade-overlay-enter {
  opacity: 0.1;
}

.fade-overlay-enter-to {
  opacity: 1;
}

.fade-overlay-exit {
  opacity: 1;
}

.fade-overlay-exit-to {
  opacity: 0;
}

.fade-overlay-enter-to,
.fade-overlay-exit,
.fade-overlay-exit-to {
  transition: opacity 200ms;
}



.slide-modal-enter {
  transform: translateY(100vh);
}

.slide-modal-enter-to {
  transform: translateY(0);
}

.slide-modal-exit {
  transform: translateY(0);
}

.slide-modal-exit-to {
  /* css variable updated onBeforeExit callback
  to determine whether modal slides up or down */
  transform: translateY(var(--slide-exit-y));
}

.slide-modal-enter-to,
.slide-modal-exit,
.slide-modal-exit-to {
  transition: transform 300ms;
}


.apexcharts-tooltip {
  @apply bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400 border-0 rounded-lg shadow-lg;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  @apply py-2 px-4 bg-gray-100 dark:bg-gray-600 border-b border-gray-200 dark:border-gray-500;
}

.apexcharts-xaxistooltip {
  @apply text-gray-500 border-0 bg-white dark:bg-gray-700 dark:text-gray-300 rounded-lg shadow-lg;
}

.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
  @apply dark:text-white;
}

.apexcharts-xaxistooltip-text {
  @apply font-medium text-sm;
}

.apexcharts-xaxistooltip:before,
.apexcharts-xaxistooltip:after {
  @apply border-0;
}

.apexcharts-xaxistooltip-bottom:after {
  @apply border-t border-gray-200 dark:border-gray-500;
}